<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tabita.mydiagnosistreatment">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.tabita.mydiagnosistreatment.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tabita.mydiagnosistreatment.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SelectActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.DiagnosisDetailsActivity" />
        <activity
            android:name=".activities.ClientActivity"
            android:label="@string/title_activity_client"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.DoctorActivity"
            android:label="@string/title_activity_client"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <receiver
            android:name=".notification.Receiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".notification.MyIntentService"
            android:exported="false" />

    </application>

</manifest>